# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml

# Logs
*.log

# Temporários
*.tmp
*.swp
*.bak

# APK / AAB
*.aab

# Keystore (NUNCA subir)
*.jks
*.keystore

# Proguard
proguard/

# Capturas
captures/

# NDK
.externalNativeBuild/
.cxx/

# Google Services
google-services.json
